.footer {
}

.footer__inner {
  background-color: rgb(170, 159, 142, 0.1);
  @include border-radius(30px);
  width: 100%;
  max-width: 1591px;
  margin-left: auto;
  margin-right: auto;
}

.footer-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 76px 90px;

  .input-wrapper {
    input {
      padding-right: 252px;
    }
  }

  .btn {
    min-width: 222px;
    position: absolute;
    right: 0;
    top: 0;
    left: auto;
    height: 100%;
  }
}

.footer-top__caption {
  font-weight: 600;
  font-size: 64px;
  line-height: 44px;
  text-transform: uppercase;
  color: #2e2e2e;
  font-family: "Circe";
}

.footer-content {
  background-color: rgba(170, 159, 142, 0.15);
  @include border-radius(30px);
  display: flex;

  .copy-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #2e2e2e;
    opacity: 0.7;
  }

  .copy-right {
  }
}

.footer-leftSide {
  width: calc(30% + 5px);
  padding: 80px 90px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer-rightSide {
  width: calc(70% - 5px);
  background-color: #2e2e2e;
  @include border-radius(30px);
  color: $colorWhite;
  padding: 80px 85px 80px 90px;
}

.menu-footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  border-bottom: solid 1px rgba(182, 170, 155, 0.2);
  padding-bottom: 30px;

  a {
    position: relative;

    &:hover {
      &::before {
        width: 100%;
      }
    }

    @include before {
      width: 0%;
      height: 4px;
      @include border-radius(5px);
      background-color: $colorSite;
      left: 0;
      top: calc(100% + 28px);
    }
  }
}

.footer-info {
  display: flex;
  flex-wrap: wrap;
  gap: 60px;
  padding: 60px 0;

  a {
    @include text-decoration-hover(rgba(255, 255, 255, 0.5));
  }
}

.footer-info__col {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: rgba(255, 255, 255, 0.5);
  max-width: 210px;
}

.footer-info__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  color: $colorWhite;
  display: block;
  margin-bottom: 10px;
}

.footer-bottom {
  border-top: solid 1px rgba(182, 170, 155, 0.2);
  padding-top: 50px;
  display: flex;
  justify-content: center;
  justify-content: space-between;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: rgba(255, 255, 255, 0.6);

  a {
    @include text-decoration-hover(rgba(255, 255, 255, 0.6));
  }
}

.footer-social {
  display: flex;
  align-items: center;
  gap: 45px;

  path {
    @include transition(all 0.3s);
  }

  a {
    &:hover {
      path {
        fill: $colorSite;
      }
    }
  }
}
