@media (min-width: 768px) {
  .text-block-opening {
    p {
      display: block !important;
    }
  }
}

@media (max-width: 767px) {
  .title-page .caption {
    font-size: 48px;
  }

  .title-page__inner {
    padding: 20px 0;
  }

  .header__inner {
    .logo-wrapper {
      margin-right: auto;
    }

    .btn {
      display: none;
    }

    .header-info {
      display: none;
    }

    .city-block {
      display: none;
    }

    .location-block {
      display: none;
    }

    .burger {
      margin-left: 20px;
    }
  }

  .btn-location svg,
  .btn-search svg {
    width: 24px;
    height: 24px;
  }

  .category-catalog__item {
    width: calc(50% - 8px);
  }

  .category-catalog__content {
    padding: 70px 20px 20px;
  }

  .footer {
    padding-left: 10px;
    padding-right: 10px;
  }

  .footer-top__caption {
    font-size: 32px;
    line-height: 44px;
    white-space: nowrap;
    letter-spacing: -3.2px;
  }

  .footer-top {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .footer-top {
    .input-wrapper {
      max-width: 100%;
      margin-top: 40px;

      input {
        padding: 5px;
        text-align: center;
      }
    }
  }

  .footer-top .btn {
    position: relative;
    right: 0;
    top: 0;
    width: 100%;
    margin-top: 10px;
  }

  .footer-top {
    padding: 50px 20px;
  }

  .menu-footer {
    display: none;
  }

  .footer-leftSide {
    width: 100%;
    text-align: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding: 50px 0px;

    .logo-wrapper {
      width: 184px;
    }
  }

  .footer-content .copy-text {
    max-width: 80%;
  }

  .footer-content {
    flex-wrap: wrap;
  }

  .footer-rightSide {
    width: 100%;
    padding: 40px 20px;
  }

  .footer-info__col {
    width: 100%;
    max-width: 100%;
  }

  .footer-info {
    padding: 0 0 40px;
    gap: 20px;
  }

  .footer-bottom {
    flex-direction: column;
    padding-top: 30px;
  }

  .footer-social {
    margin-bottom: 10px;
  }

  .footer-info {
    padding-bottom: 30px;
  }

  .siteWrapper .footer {
    padding-bottom: 10px;
  }

  .search-invis.opened {
    width: 345px;
  }

  .tabs-text {
    font-size: 14px;
    line-height: 20px;
  }

  .tabs-section__links {
    margin-top: 25px;
    overflow: auto;
    padding: 25px 15px 0;

    li {
      white-space: nowrap;
    }
  }

  .tabs {
    position: relative;
    width: calc(100% + 30px);
    left: -15px;
    overflow: hidden;

    @include before {
      background: linear-gradient(
        0deg,
        #fbf5f1 0%,
        rgba(251, 245, 241, 0) 100%
      );
      width: 70px;
      height: 76px;
      top: 0;
      right: -15px;
      pointer-events: none;
      z-index: 3;
    }
  }

  .tabs-section__links li.active a::before {
    max-width: 50%;
  }

  .tabs-section .tabs-body {
    margin-top: 0;
    padding-bottom: 50px;
    padding-top: 0;
  }

  .tabs-text .btn {
    padding: 20px 30px;
    margin-top: 20px;
    width: 100%;
  }

  .tabs-section .tabs-body {
    padding: 0 15px 50px;
  }

  .universal-containers__slider {
    margin-bottom: 0;
    margin-top: -30px;
  }

  .product__name .caption {
    font-size: 30px;
    line-height: 40px;
  }

  .product__desc {
    font-size: 14px;
    line-height: 20px;
    margin-top: 15px;
  }

  .product__name .btn-favorite {
    svg {
      width: 15px;
      height: 15px;
    }
  }

  .product__icons {
    margin-top: 15px;
  }

  .product__column {
    padding: 15px;
  }

  .product__info {
    margin-top: 20px;
  }

  .product__controls {
    margin-top: 20px;
    gap: 10px;
    justify-content: center;
  }

  .product-text {
    margin-top: 15px;
    font-size: 14px;
    line-height: 20px;
  }

  .product__info li {
    padding: 10px 0;
  }

  .btn-360 {
    right: 10px;
    top: 15px;

    svg {
      width: 30px;
      height: 28px;
    }
  }

  .product__inner {
    @include border-radius(30px);
  }

  .product__column.product__picture {
    background-color: #f3ece7;
    @include border-radius(20px);
  }

  .product__picture__slider .swiper-pagination {
    font-size: 12px;
  }

  .breadcrumbs {
    padding: 20px 0;
  }

  .product__back {
    font-size: 14px;
  }

  .reviews-product {
    .swiper-button-next,
    .swiper-button-prev {
      display: none;
    }
  }

  .review-text {
    padding: 10px 5px;
  }

  .reviews-product__slider .swiper-pagination {
    margin-top: 20px;
  }

  .product__inner {
    padding-bottom: 0;
    margin-bottom: 30px;
  }

  .news-section {
    .news-item--big {
      .news-item__content {
        p {
          display: none;
        }

        .btn {
          margin-top: 0;
        }
      }
    }

    .news-item {
      .news-item__name {
        font-size: 20px;
        line-height: 22px;
        margin-bottom: 15px;
      }
    }
  }

  .news-section .news-item .news-item__date {
    font-size: 12px;
    margin-bottom: 15px;
  }

  .news-section .news-item--big .news-item__content {
    width: 100%;
    padding: 28px 20px;
  }

  .news-item .btn {
    padding: 12px 28px;
  }

  .news-section .news {
    margin-top: 24px;
  }

  .news-section .news-item + .news-item {
    margin-top: 25px;
  }

  .news-section {
    padding-bottom: 50px;
  }

  .text-details .picture {
    &:not(:has(.text-caption)) {
      min-height: 230px;
      img {
        height: 100%;
        object-fit: cover;
        width: 100%;
        position: absolute;
        left: 0;
        top: 0;
      }
    }
  }

  .text-details__title {
    font-size: 24px;
    line-height: 26px;
    margin-bottom: 15px;
  }

  .text-details h3 {
    font-size: 18px;
    line-height: 26px;
  }

  .author-article {
    margin-top: 20px;
  }

  .blog-list {
  }

  .blog-item {
    width: 100%;
  }

  .blog-item .picture {
    height: auto;
  }

  .blog-item__link {
    min-height: inherit;
  }

  .blog-item__content {
    padding-top: 50px;
    position: relative;
  }

  .blog-item__date {
    position: absolute;
    top: 15px;
    left: 15px;
  }

  .smi-section .blog-item .picture {
    min-height: 200px;
  }

  .blog-list {
    margin-top: 15px;
  }

  .other-section {
    padding-bottom: 30px;
  }

  .typeFood__caption {
    font-size: 24px;
    line-height: 30px;
  }

  .typeFood__content {
    padding: 15px;
  }

  .typeFood__link {
    margin-top: 20px;
  }

  .typeFood__controls {
    flex-wrap: wrap;
    margin-top: 20px;

    .btn {
      max-width: 100%;
    }
  }

  .product-other .caption {
    font-size: 28px;
    line-height: 30px;
  }

  .product-other {
    padding: 50px 0;
  }

  .search-result__not {
    font-size: 16px;
    line-height: 20px;
    margin-top: 10px;
  }

  .search-result__title {
    justify-content: space-between;
    align-items: center;
    gap: 0px 10px;
    padding-bottom: 15px;
  }

  .search-result__controls {
    flex-wrap: wrap;
  }

  .not-page__content {
    min-height: inherit;
    margin-top: 142px;
    padding-bottom: 100px;
  }

  .not-page .invisCaption {
    right: -68px;
    font-size: 250px;
    line-height: 250px;
    letter-spacing: -0.05em;
    bottom: 2px;
    @include transform(rotate(-90deg));
  }

  .not-page .caption--small {
    font-size: 20px;
    line-height: 30px;
    color: #2e2e2e;
    font-size: 22px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: -1.98px;
    text-transform: uppercase;
    margin-bottom: 30px;
  }

  .caption--small {
    font-size: 24px;
    line-height: 26px;
  }

  .about-block__left {
    padding: 15px;
  }

  .about-block__left .caption {
    margin-bottom: 15px;
    line-height: 26px;
  }

  .tabs-section__tabs--lineBottom .tabs-section__links {
    border-bottom: solid 1px rgba(182, 170, 155, 0.5);
  }

  .tabs-section__tabs--lineBottom .tabs-section__links li {
    width: auto;
  }

  .tabs {
    position: relative;
  }

  .tabs::before {
    display: none;
  }

  .tabs-section__tabs--lineBottom .tabs-section__links::before {
    display: none;
  }

  .tabs-section__tabs--lineBottom .tabs-section__links {
    padding-bottom: 0;
  }

  .tabs-section__tabs--lineBottom .tabs-section__links a::before {
    top: calc(100% - 3px);
  }

  .tabs-section__links a {
    padding-bottom: 30px;
  }

  .tabs-section__tabs--lineBottom .tabs-section__links li + li {
    margin-left: 25px;
  }

  .about-block {
    margin: 30px 0;
  }

  .caption--big-v2 {
    font-size: 32px;
    line-height: 40px;
  }

  .our-brands img {
    width: 100px;
  }

  .our-brands__item {
    font-size: 32px;
  }

  .about-numbers__right {
    padding: 30px 15px;
  }

  .about-numbers__left {
    padding: 30px 15px;
    font-size: 16px;
    line-height: 20px;

    padding-bottom: 240px;
  }

  .about-numbers__desc {
    font-size: 22px;
    line-height: 24px;
  }

  .about-numbers__list {
    gap: 30px;
  }

  .about-numbers__list li:has(.cur) {
    grid-template-columns: 40px 100px;
    gap: 19px;
  }

  .about-numbers__list .text {
    text-align: center;
    white-space: normal;
  }

  .about-numbers__list li {
    width: auto;
    margin-left: auto;
    margin-right: auto;
    grid-template-columns: 1fr;
    gap: 19px 0;
  }

  .about-numbers__list .num {
    text-align: center;
    grid-column: 1/2;
  }

  .about-numbers__list .cur {
  }

  .video-block .text-video {
    height: 280px;
  }

  .video-block {
    padding: 25px 0;
  }

  .about-advantages__list {
    grid-template-columns: 1fr;
  }

  .caption__desc {
    font-size: 28px;
    line-height: 40px;
  }

  .about-advantages__title .title {
    font-size: 25px;
    line-height: 27px;
  }

  .about-advantages__title {
    min-height: inherit;
  }

  .about-advantages__content {
    padding-right: 15px;
  }

  .about-advantages {
    padding: 25px 0 55px;
  }

  .why-block__title {
    margin-bottom: 15px;
  }

  .why-block__item {
    font-size: 14px;
    line-height: 20px;
  }

  .manufactured-products .btn {
    margin-top: 25px;
    font-size: 18px;
    padding: 15px 19px;
  }

  .manufactured-products__inner {
    overflow: hidden;
  }

  .manufactured-products .picture {
    right: 50%;
    margin-right: -250px;
  }

  .sertificate {
    padding: 100px 0 60px;
  }

  .caption {
    font-size: 32px;
    line-height: 40px;
  }

  .manufactured-products {
    padding-bottom: 30px;
  }

  .esg-block__left .quote {
    font-size: 20px;
    line-height: 26px;
    margin-bottom: 20px;
  }

  .esg-block__left {
    padding: 15px;
  }

  .esg-block {
    margin-top: 30px;
    font-size: 14px;
    line-height: 20px;
  }

  .esg-report__right strong {
    font-size: 22px;
    line-height: 30px;
  }

  .esg-report__right h2 {
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 15px;
  }

  .esg-report__right p + h2 {
    margin-top: 25px;
  }

  .esg-text {
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .esg__inner .caption {
    font-size: 24px;
    line-height: 28px;
  }

  .delivery-sng {
    padding: 30px 0;
  }

  .delivery-sng__right {
    padding-top: 50px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 80px;
    font-size: 12px;
    line-height: 14px;
  }

  .delivery-sng__picture img {
    width: 100%;
    height: auto;
    aspect-ratio: 16/12;
    min-width: 210px;
    width: calc(100% - 230px);
    margin-left: auto;
    margin-right: auto;
  }

  .delivery-sng__picture {
    margin: -60px auto 50px;
  }

  .delivery-sng__right .caption {
    font-size: 26px;
    line-height: 30px;
  }

  .delivery-free {
    flex-wrap: wrap;
    padding-bottom: 300px;
  }

  .delivery-free__right {
    left: calc(50% - 170px);
    position: absolute;
    min-width: 450px;
    top: auto;
    height: auto;
    margin: 0 auto;
    bottom: 0px;
    width: calc(100% - 90px);
  }

  .delivery-free__desc {
    margin-top: 30px;
  }

  .delivery-shipping .caption {
    font-size: 32px;
    line-height: 36px;
  }

  .delivery-pickup .caption {
    font-size: 38px;
    line-height: 38px;
  }

  .delivery-pickup {
    min-height: inherit;
    width: 100%;
    margin-top: 200px;
    margin-bottom: 50px;
    padding: 130px 40px 50px;
    text-align: left;
  }

  .delivery-pickup__box {
    margin-top: -215px;
    margin-left: -157px;
    @include transform(scale(1.4));
    z-index: 3;
  }

  .delivery-pickup__icon {
    top: -37px;
    width: 170px;
    margin-left: -140px;
  }

  .delivery-pickup__text {
    margin-top: 50px;
  }

  .delivery-pickup .caption {
    font-size: 32px;
    line-height: 36px;
  }

  .delivery-pickup .btn {
    margin-top: 30px;
  }

  .modal__inner {
    padding: 15px;
  }

  .modal__form .caption {
    font-size: 30px;
    line-height: 32px;
  }

  .modal__form .input-wrapper input {
    height: 40px;
  }

  .modal__close {
    right: 20px;
    top: 30px;
  }

  .modal__form .modal__controls {
    margin-top: 20px;
  }

  .modal__form .input-list {
    margin-top: 20px;
  }

  .modal-info .modal__controls.visible,
  .modal-personal .modal__controls.visible {
    flex-wrap: wrap;
  }

  .modal-thank .caption {
    font-size: 44px;
    line-height: 46px;
  }

  .modal-thank .caption-desc {
    font-size: 22px;
    line-height: 38px;
  }

  .modal-thank p {
    margin-top: 0;
  }

  .modal-thank {
    min-height: 300px;
  }

  .input-wrapper input,
  .input-wrapper textarea {
    @include border-radius(15px);
  }

  .modal-product .modal-product__picture {
    width: 240px;
    height: 302px;
    margin-top: 0;
    background-size: contain;
  }

  .modal-product__info ul {
    gap: 5px 10px;
    flex-wrap: wrap;
  }

  .modal-product .modal-product__controls {
    width: 100px;
    height: 30px;

    svg {
      width: 15px;
      height: 15px;
    }
  }

  .modal-info .terms-text,
  .modal-personal .terms-text {
    margin-top: 20px;
  }

  #modal-order-v2 .input-list .input-wrapper {
    width: 100%;
  }

  .events-item__date {
    text-align: left;
    font-size: 20px;
    display: block;
    width: 100%;
    max-width: 100%;
    margin-top: 18px;
  }

  .events-item__head {
    margin-bottom: 20px;
  }

  .events-item__controls {
    margin-top: 20px;
  }

  .events-item__info {
    margin-bottom: 20px;
    gap: 20px;
  }

  .events-mons {
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
  }

  .events-slider .swiper-slide {
    min-height: 520px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
  }

  .events-slider__date {
    font-size: 18px;
    line-height: 24px;
  }

  .events-slider .swiper-slide {
    padding: 15px;
  }

  .calendarWrapper .calendarNext,
  .calendarWrapper .calendarPrev {
    position: relative;
    width: 30px;
    height: 30px;
  }

  .calendarWrapper .calendarNext svg,
  .calendarWrapper .calendarPrev svg {
    width: 6px;
    height: 6px;
  }

  .calendarTitle__text {
    font-size: 18px;
  }

  .calendarWrapper .calendarTitle {
    height: 30px;
  }

  .events-all {
    display: none;
  }

  .events-item {
    padding: 40px;
    font-size: 12px;
    line-height: 14px;
  }

  .events-item__head .caption {
    font-size: 24px;
    line-height: 32px;
  }

  .events-item__controls {
    .btn {
      width: 100%;
    }
  }

  .events-item__info {
    gap: 12px;
  }

  .events-item__info li {
    font-size: 16px;
    gap: 5px;
  }

  .calendar {
    .td {
      @include border-radius(5px);
      height: 24px;
      padding: 0 3px;
      font-size: 10px;
      line-height: 16px;

      &::before {
        left: 2px;
        top: 2px;
        width: 8px;
        height: 8px;
        background-size: contain;
      }
    }
  }

  .calendar .thead .td {
    font-size: 10px;
    height: 24px;
  }

  .text-caption .text-caption__content {
    width: 100%;
  }

  .text-caption .text-caption__inner {
    flex-wrap: wrap;
    gap: 25px;
  }

  .text-details .picture {
    min-height: 380px;
  }

  .text-caption .caption {
    font-size: 20px;
    line-height: 22px;
    text-transform: uppercase;
  }

  .text-caption .logo-smi::before {
    height: 70px;
    width: 100%;
  }

  .text-caption {
    align-items: flex-start;
    padding: 30px;
    height: 100%;
  }

  .text-caption .text-caption__date {
    font-size: 14px;
  }

  .text-caption .logo-smi {
    padding: 15px 27px;
    max-width: 140px;
    width: auto;
    @include border-radius(15px);
  }

  .text-details .picture > img {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    object-fit: cover;
  }

  .text-details .picture {
    position: relative;
    min-height: 300px;
    width: 100%;
    height: 100%;
    display: block;
  }

  .text-block-opening {
    .btn-more-text {
      display: inline-block;
    }

    p {
      display: none;
    }
  }

  .text-details__inner {
    padding: 0;
  }

  .product-catalog__inner {
    border-top: 0;
  }

  .about-numbers__inner .picture {
    left: calc(50% - 265px);
    bottom: -190px;
    width: 550px;
  }

  .why-block__item .caption {
    color: rgb(255, 255, 255);
    font-size: 20px;
    line-height: 30px;
  }

  .delivery-free li {
    font-size: 12px;
    line-height: 14px;
  }

  .documents-links--mobile {
    margin-left: auto;
    margin-right: auto;
  }

  .btn-back {
    padding: 10px 15px;
    font-size: 14px;
  }

  .search-result {
    padding-top: 20px;
  }

  .btn-patented:hover::after {
    left: auto;
    right: 0;
    bottom: 70%;
    padding: 14px;
    width: 240px;
    font-size: 14px;
    line-height: 16px;
  }

  .btn-read-all {
    bottom: 30px;
  }

  .production-page__slider .caption {
    font-size: 24px;
    line-height: 24px;
  }

  .production-page__slider .swiper-slide {
    height: 460px;
  }

  .swiper-pagination-progressbar {
    margin-top: 20px;
  }

  .platform-item__head {
    padding-left: 0;
    padding-top: 95px;
  }

  .platform-item .state-production {
    flex-wrap: wrap;
    gap: 20px;
  }

  .platform-item__city {
    font-size: 30px;
    line-height: 40px;
  }

  .technologies-section__text {
    padding: 15px !important;
  }

  .possibilities {
    padding: 15px;
  }

  .possibilities__title {
    font-size: 24px;
    line-height: 28px;
  }

  .possibilities__data {
    font-size: 30px;
    line-height: 40px;
    margin-bottom: 8px;
  }

  .possibilities__text {
    font-size: 16px;
  }

  .platform-section .caption {
    font-size: 25px;
  }

  .platform-list {
    margin-top: 30px;
  }

  .possibilities {
    margin-top: 30px;
  }

  .slider-simple .swiper-slide {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
    padding: 20px;
    height: 450px;
  }

  .slider-simple .swiper-slide .caption {
    max-width: 100%;
    text-align: left;
  }

  .slider-simple .swiper-slide .play-block {
    position: relative;
    top: auto;
    right: auto;
    margin: 0;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .slider-simple__wrap {
    margin-top: 30px;
  }

  .production-page .about-advantages__head .caption {
    font-size: 30px;
    line-height: 40px;
  }

  .production-page .about-advantages .container {
    padding: 0;
  }

  .production-page .about-advantages__title {
    padding-left: 0;
    padding-top: 120px;
  }

  .steps-call {
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 20px;
  }

  .delivery-section__inner::before {
    margin: 0 auto;
    width: 100%;
    background-size: contain;
    left: 0;
    top: 0;
    padding-top: calc(320 / 380 * 100%);
    height: auto;
  }

  .manufactured-products {
    margin-bottom: 0;
  }

  .delivery-section .swiper-contrtols {
    width: 70px;
  }

  .types-print__list::after,
  .types-print__list::before {
    display: none;
  }

  .types-print__item {
    padding: 15px;
    text-align: center !important;
    overflow: visible;
    padding-top: 70px;

    & + .types-print__item {
      margin-top: 50px;
    }
  }

  .types-print__item img {
    right: auto;
    width: 120px;
    height: 120px;
    left: 50% !important;
    margin-left: -60px;
    margin-top: -60px;
    @include border-radius(50%!important);
  }

  .types-print .btn {
    margin: 20px auto 0;
    display: none;
  }

  .sertificate {
    padding: 30px 0;
  }

  .delivery-section .swiper-slide .caption-desc {
    font-size: 38px;
    line-height: 44px;
  }

  .contacts-page .title-page .caption {
    font-size: 30px;
    line-height: 30px;
  }

  .contacts-info__list {
    gap: 30px;
    font-size: 14px;
    line-height: 16px;
  }

  .contacts-info__bottom .btn {
    padding: 25px 15px;
    font-size: 16px;
    width: 100%;
    margin-top: 30px;
  }

  .contacts-info__right ul {
    margin-top: 15px;
    height: auto;
    overflow: visible;
  }

  .contacts-info__right li .label {
    width: 100%;
  }

  .contacts-info__right li {
    flex-wrap: wrap;
  }

  .contacts-info__right li > * {
    width: 100%;
  }

  .contacts-info__right li + li {
    margin-top: 15px;
  }

  .contacts-controls {
    width: 100%;
    gap: 15px;

    li {
      width: 100%;
      display: flex;
      justify-content: center;
    }

    .btn {
      max-width: 290px;
      width: 100%;
    }
  }

  .contacts-map {
    width: 100%;
    height: 520px;
    padding-bottom: 50px;
    @include transform(scale(0.2));
    left: -112px;
    margin-top: -190px;
    margin-bottom: -140px;
  }

  .contacts-info {
    margin: 30px 0;
  }

  .storage-item__head {
    padding: 30px;
  }

  .storage-item__city {
    font-size: 32px;
    line-height: 36px;
  }

  .storage-section .list-links a {
    font-size: 12px;
    line-height: 14px;
  }

  .storage-section .list-links a {
    padding: 14px 19px;
  }

  .distr-item__content {
    width: 100%;
    max-width: 100%;
    padding: 0;
    margin-top: 20px;
  }

  .distr-item {
    flex-wrap: wrap;
    flex-direction: column;
  }

  .distr-list .contacts-info__list {
    width: 100%;
    padding: 0;
    margin: 0;
    gap: 20px;
    border: 0;
    margin-top: 20px;
  }

  .distr-item {
    padding: 20px;
    position: relative;
  }

  .distr-item__picture {
    width: 80px;
    height: 80px;
    margin-right: auto;
  }

  .distr-item__content .btn {
    font-size: 14px;
    max-width: 140px;
    position: absolute;
    right: 20px;
    top: 20px;
    left: auto;
  }

  .distr-item__picture img {
    width: 70%;
    max-width: 100%;
  }

  .grettings__slide {
    height: auto;
    padding: calc(450 / 320 * 100%) 15px 15px;
  }

  .video-block .text-video {
    height: 100%;
  }

  .food-type__head .caption--small {
    margin: 10px 0;
    font-size: 16px;
    line-height: 20px;
  }

  .food-item {
    width: 100%;
  }

  .food-controls {
    flex-wrap: wrap;
    flex-direction: column;
  }

  .dop-dev .b-product-lines__switch {
    display: none;
    left: -15px;
    white-space: nowrap;
    overflow: auto;
    position: relative;
    padding: 0 15px;
    width: calc(100% + 30px);
  }

  :root {
    --lineap-item-width: 270px;
    --lineap-item-height: auto;
    --lineap-item-title-width: 35px;
    --lineap-item-content-width: calc(
      var(--lineap-item-width) - var(--lineap-item-title-width)
    );
  }

  .lineap {
    flex-direction: column;
    justify-content: center;
    padding: 0 15px;
    gap: 5px;
  }

  .lineap-item {
    width: 100%;
    margin: 0 !important;
    @include transform(translateY(0) !important);
    min-width: 100%;
    display: block;
    box-sizing: border-box;
  }

  .lineap-item__control--next,
  .lineap-item__control--prev {
    display: none;
  }

  .lineap-item__title-text {
    left: -3px;
    position: relative;
    display: none;
  }

  .lineap-item__content-image {
    width: calc(100% + 30px);
    height: 100%;
    position: relative;
    left: -15px;
    top: 25px;
    order: 2;
    margin-top: -25px;
  }

  .lineap-item__content {
    box-sizing: border-box;
  }

  .lineap-item__content-title {
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0;
  }

  .delivery .caption,
  .animation-text .caption,
  .dop-dev .b-product-lines__title {
    font-size: 32px;
    line-height: 36px;
    left: 0;
  }

  .animation-text .caption--middle {
    margin-bottom: 10px;
  }

  .animation-text {
    top: 0;
  }

  .animation-text__controls {
    max-width: 100%;
    flex-wrap: wrap;
    flex-direction: column;

    .btn {
      max-width: 100%;
      width: 100%;
    }
  }

  .your-lines {
    padding: 50px 0;
  }

  .product-main .list {
    padding: 0;
    gap: 20px;
    flex-wrap: wrap;
  }

  .delivert-mobile {
    position: relative;
    width: 100%;
    top: auto;
    order: -1;
    padding-top: calc(230 / 320 * 100%);
    @include transform(translateY(0));
    margin-bottom: 30px;
  }

  .delivery .desc {
    font-size: 25px;
    line-height: 35px;
  }

  .delivery-wrap {
    display: flex;
    flex-direction: column;
  }

  .delivery.delivery--v1 {
    padding: 50px 0;
    min-height: inherit;
  }

  .delivery .btn {
    margin-top: 20px;
  }

  .btn-new-all {
    display: none;
  }

  .news-main .news-item--big {
    height: auto;
    width: 100%;
    min-height: inherit;
  }

  .news-main .news-item--big .news-item__picture {
    width: 100%;
    height: 300px;
  }

  .news-main .news-item--big .news-item__content {
    width: 100%;
    padding: 15px;
  }

  .subscribe-news__rightSide .input-wrapper .btn {
    position: relative;
    width: 100%;
    max-width: 100%;
    top: auto;
    right: auto;
    margin-top: 20px;
  }

  .subscribe-news__rightSide .input-wrapper input {
    padding-right: 20px;
    text-align: center;
  }

  .subscribe-news__inner {
    padding-top: 30px;
  }

  .sertificate__slider .swiper-slide .sertificate-item {
    width: 100% !important;
    padding: 0;
  }
  .sertificate__slider .swiper-slide {
    .picture {
      width: 100%;
      height: auto;
    }
  }

  .sertificate-item {
    display: block;
  }

  .sertificate__slider {
    width: 100%;
  }

  .sertificate__slider .swiper-slide .caption,
  .sertificate__slider .swiper-slide p {
    width: 100%;
  }

  .sertificate__slider .sertificate-item .picture {
    width: 100% !important;
    height: 200px !important;
    padding: 15px !important;
  }

  .btn-quest {
    width: 30px;
    height: 30px;
    font-size: 12px;
    right: 20px;
  }

  .sertificate .caption--small {
    font-size: 22px;
    line-height: 30px;
    margin-top: 20px;
    margin-bottom: 10px;
  }

  .btn-quest {
    right: 15px;
    top: 15px;
  }

  .sertificate__slider .swiper-button-next {
    right: 15px;
    top: 90px;
    margin: 0;
  }

  .sertificate__slider .swiper-button-prev {
    left: 15px;
    top: 90px;
    margin: 0;
  }
  .sertificate__slider .swiper-slide-prev {
    opacity: 1;
    top: 0;
  }

  .cookee-block__inner {
    padding: 15px;
    flex-direction: column;
    gap: 20px;
    text-align: center;
    font-size: 14px;
  }

  .cookee-block__inner .btn {
    padding: 10px;
  }

  .catalog-main__right {
    .caption {
      min-height: 57px;
      margin-bottom: 10px;
      display: block;
    }

    p {
      min-height: 130px;
      margin-bottom: -30px;
    }
  }

  .modal__container {
    padding: 30px 10px;
  }

  #modal-offer .input-list .input-wrapper {
    width: 100%;
  }

  .modal__form .caption {
    font-size: 28px;
    line-height: 30px;
  }

  #modal-offer {
    .modal__form {
      .caption {
        font-size: 24px;
        line-height: 30px;
        max-width: 70%;
      }
    }

    .modal__controls {
      margin-top: 0;
    }
  }

  #modal-review .input-list .input-wrapper {
    width: 100%;
  }

  .menu {
    .mobile-visible {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      margin-top: 30px;

      .header-info {
        display: flex !important;
        padding: 0;
        flex-direction: column;
        width: auto;
        border: 0;
        padding: 0;
        margin: 0;
      }

      .city-block {
        display: block !important;
        border: 0;
        padding: 0;
        margin: 0;
      }

      .location-block {
        display: flex;
        margin-right: auto;
        margin-left: 30px;
      }
    }
  }

  .menu {
    &.sub-menu-opened {
      .mobile-visible {
        display: none;
      }
    }
  }

  .catalog-main__text {
    margin-top: 40px;
  }

  .category-catalog__item::before {
    display: none;
  }

  .product__icons li:hover::after {
    @include transform(translateX(-50%));
    padding: 5px;
    font-size: 12px;
    z-index: 5;
    max-width: 200px;
  }

  .product__info .tit {
    max-width: 10%;
    width: auto;
    min-width: 100px;
  }

  .gallery-slider .swiper-slide {
    height: auto;
  }

  .gallery-slider img {
    height: 260px;
  }

  .gallery-slider .text-video {
    height: 260px;
  }

  .gallery-slider .swiper-slide.swiper-slide-active + .swiper-slide img,
  .gallery-slider
    .swiper-slide.swiper-slide-active
    + .swiper-slide
    .text-video {
    height: auto;
  }

  .about-numbers__list li:nth-child(4) .num::after {
    display: none;
  }

  .about-block .caption {
    line-height: 28px;
    font-size: 24px;
  }

  .why-block {
    & + .sertificate {
      margin-top: 0;
    }
  }

  .sertificate__slider {
    margin-top: 30px;
  }

  .blog-item p {
    min-height: inherit;
    height: auto;
  }

  .individual-design__head .caption {
    margin-bottom: 20px;
  }

  .individual-design__head .picture {
    margin-top: 20px;
    height: 200px;
  }

  .storage-section__tabs {
    margin-top: 30px;
  }

  .storage-section .tabs-body {
    padding-left: 10px;
    padding-right: 10px;
  }

  .storage-section .list-links {
    width: calc(100% - 20px);

    li {
      width: 100%;
    }
  }

  #production .storage-item {
    width: 100%;
  }

  #warehouses .storage-list .storage-item:first-child,
  #warehouses .storage-list .storage-item:nth-child(2) {
    width: 100%;
  }

  .google-map .map {
    height: 400px;
  }

  .storage-section .tabs-body {
    margin-bottom: 50px;
  }

  .google-map {
    padding-top: 20px;
  }

  .search-section .product-item {
    height: auto;
  }

  .product-item .btn {
    margin-top: 0;
  }

  .individual-design__head {
    gap: 0;
  }

  .city-invis {
    left: 0;
    top: auto;
    bottom: 100%;
  }

  .city-invis a {
    padding: 5px 10px;
  }

  .location-invis {
    top: auto;
    bottom: calc(100% + 20px);
  }

  .location-invis li + li {
    margin-top: 5px;
  }

  .location-invis {
    padding: 5px;
  }

  .grettings {
    padding: 0;
  }
}
