@media (max-width: 767px) {
  .title-page .caption {
    font-size: 48px;
  }

  .title-page__inner {
    padding: 20px 0;
  }

  .header__inner {
    .logo-wrapper {
      margin-right: auto;
    }

    .btn {
      display: none;
    }

    .header-info {
      display: none;
    }

    .city-block {
      display: none;
    }

    .location-block {
      display: none;
    }

    .burger {
      margin-left: 20px;
    }
  }

  .btn-location svg,
  .btn-search svg {
    width: 24px;
    height: 24px;
  }

  .category-catalog__item {
    width: calc(50% - 8px);
  }

  .category-catalog__content {
    padding: 70px 20px 20px;
  }

  .footer {
    padding-left: 10px;
    padding-right: 10px;
  }

  .footer-top__caption {
    font-size: 32px;
    line-height: 44px;
    white-space: nowrap;
    letter-spacing: -3.2px;
  }

  .footer-top {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .footer-top {
    .input-wrapper {
      max-width: 100%;
      margin-top: 40px;

      input {
        padding: 5px;
        text-align: center;
      }
    }
  }

  .footer-top .btn {
    position: relative;
    right: 0;
    top: 0;
    width: 100%;
    margin-top: 10px;
  }

  .footer-top {
    padding: 50px 20px;
  }

  .menu-footer {
    display: none;
  }

  .footer-leftSide {
    width: 100%;
    text-align: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding: 50px 0px;

    .logo-wrapper {
      width: 184px;
    }
  }

  .footer-content .copy-text {
    max-width: 80%;
  }

  .footer-content {
    flex-wrap: wrap;
  }

  .footer-rightSide {
    width: 100%;
    padding: 40px 20px;
  }

  .footer-info__col {
    width: 100%;
    max-width: 100%;
  }

  .footer-info {
    padding: 0 0 40px;
    gap: 20px;
  }

  .footer-bottom {
    flex-direction: column;
    padding-top: 30px;
  }

  .footer-social {
    margin-bottom: 10px;
  }

  .footer-info {
    padding-bottom: 30px;
  }

  .siteWrapper .footer {
    padding-bottom: 10px;
  }

  .search-invis.opened {
    width: 345px;
  }

  .tabs-text {
    font-size: 14px;
    line-height: 20px;
  }

  .tabs-section__links {
    margin-top: 25px;
    overflow: auto;
    padding: 25px 15px;

    li {
      white-space: nowrap;
    }
  }

  .tabs {
    position: relative;
    width: calc(100% + 30px);
    left: -15px;
    overflow: hidden;

    @include before {
      background: linear-gradient(
        0deg,
        #fbf5f1 0%,
        rgba(251, 245, 241, 0) 100%
      );
      width: 70px;
      height: 76px;
      top: 0;
      right: -15px;
      pointer-events: none;
      z-index: 3;
    }
  }

  .tabs-section__links li.active a::before {
    max-width: 50%;
  }

  .tabs-section .tabs-body {
    margin-top: 30px;
    padding-bottom: 50px;
  }

  .tabs-section .tabs-body {
    padding: 15px 15px 50px;
  }

  .universal-containers__slider {
    margin-bottom: 0;
    margin-top: -30px;
  }

  .product__name .caption {
    font-size: 30px;
    line-height: 40px;
  }

  .product__desc {
    font-size: 14px;
    line-height: 20px;
    margin-top: 15px;
  }

  .product__name .btn-favorite {
    svg {
      width: 15px;
      height: 15px;
    }
  }

  .product__icons {
    margin-top: 15px;
  }

  .product__column {
    padding: 15px;
  }

  .product__info {
    margin-top: 20px;
  }

  .product__controls {
    margin-top: 20px;
  }

  .product-text {
    margin-top: 15px;
    font-size: 14px;
    line-height: 20px;
  }

  .product__info li {
    padding: 10px 0;
  }

  .btn-360 {
    right: 10px;
    top: 15px;

    svg {
      width: 30px;
      height: 28px;
    }
  }

  .product__inner {
    background-color: #f3ece7;
    @include border-radius(30px);
  }

  .product__picture__slider .swiper-pagination {
    font-size: 12px;
  }

  .breadcrumbs {
    padding: 20px 0;
  }

  .product__back {
    font-size: 14px;
  }

  .reviews-product {
    .swiper-button-next,
    .swiper-button-prev {
      display: none;
    }
  }

  .review-text {
    padding: 10px 5px;
  }

  .reviews-product__slider .swiper-pagination {
    margin-top: 20px;
  }

  .product__inner {
    padding-bottom: 0;
    margin-bottom: 30px;
  }

  .news-section {
    .news-item--big {
      .news-item__content {
        p {
          display: none;
        }

        .btn {
          margin-top: 0;
        }
      }
    }

    .news-item {
      .news-item__name {
        font-size: 20px;
        line-height: 22px;
        margin-bottom: 15px;
      }
    }
  }

  .news-section .news-item .news-item__date {
    font-size: 12px;
    margin-bottom: 15px;
  }

  .news-section .news-item--big .news-item__content {
    width: 100%;
    padding: 28px 20px;
  }

  .news-item .btn {
    padding: 12px 28px;
  }

  .news-section .news {
    margin-top: 24px;
  }

  .news-section .news-item + .news-item {
    margin-top: 25px;
  }

  .news-section {
    padding-bottom: 50px;
  }

  .text-details .picture {
    &:not(:has(.text-caption)) {
      min-height: 230px;
      img {
        height: 100%;
        object-fit: cover;
        width: 100%;
        position: absolute;
        left: 0;
        top: 0;
      }
    }
  }

  .text-details__title {
    font-size: 24px;
    line-height: 26px;
    margin-bottom: 15px;
  }

  .text-details h3 {
    font-size: 18px;
    line-height: 26px;
  }

  .author-article {
    margin-top: 20px;
  }

  .blog-list {
  }

  .blog-item {
    width: 100%;
  }

  .blog-item .picture {
    height: auto;
  }

  .blog-item__link {
    min-height: inherit;
  }

  .blog-item__content {
    padding-top: 50px;
    position: relative;
  }

  .blog-item__date {
    position: absolute;
    top: 15px;
    left: 15px;
  }

  .smi-section .blog-item .picture {
    min-height: 200px;
  }

  .blog-list {
    margin-top: 15px;
  }

  .other-section {
    padding-bottom: 30px;
  }

  .typeFood__caption {
    font-size: 24px;
    line-height: 30px;
  }

  .typeFood__content {
    padding: 15px;
  }

  .typeFood__link {
    margin-top: 20px;
  }

  .typeFood__controls {
    flex-wrap: wrap;
    margin-top: 20px;

    .btn {
      max-width: 100%;
    }
  }

  .product-other .caption {
    font-size: 28px;
    line-height: 30px;
  }

  .product-other {
    padding: 50px 0;
  }

  .search-result__not {
    font-size: 16px;
    line-height: 20px;
    margin-top: 10px;
  }

  .search-result__title {
    justify-content: center;
    align-items: center;
    gap: 0px 10px;
    padding-bottom: 15px;
  }

  .search-result__controls {
    flex-wrap: wrap;
  }

  .not-page__content {
    min-height: inherit;
  }

  .not-page .invisCaption {
    right: calc(50% - 400px);
    font-size: 275px;
    bottom: -60px;
}
}
