@media (max-width: 479px) {
  .universal-containers__slider
    .swiper-slide-active
    .universal-containers__item
    img {
    height: 230px;
    width: 280px;
  }

  .universal-gallery {
    height: 250px;
  }

  .universal-containers__slider .swiper-pagination {
    top: 30px;
    bottom: auto;
  }

  .universal-containers__slider .swiper-slide {
    min-height: 540px;
  }

  .universal-containers__slider {
    margin-bottom: -70px;
    margin-top: 0;
  }

}
