@media (max-width: 479px) {
  .universal-containers__slider
    .swiper-slide-active
    .universal-containers__item
    img {
    height: 230px;
    width: 280px;
  }

  .universal-gallery {
    height: 250px;
  }

  .universal-containers__slider .swiper-pagination {
    top: 30px;
    bottom: auto;
  }

  .universal-containers__slider .swiper-slide {
    min-height: 540px;
  }

  .universal-containers__slider {
    margin-bottom: -70px;
    margin-top: 0;
  }

  .search-section {
    .product-list {
      gap: 10px;
    }

    .product-item {
      padding: 10px 10px;

      .btn {
        padding: 5px 5px;
        font-size: 12px;
      }
    }
  }

  .universal-containers__inner .caption {
    font-size: 35px;
    line-height: 40px;
  }

  .title-page .caption {
    font-size: 35px;
    line-height: 40px;
  }

  .title-page__inner .title-page__text {
    margin-top: 10px;
  }
}
