@media (max-width: 1023px) {
  .burger {
    display: flex;
  }

  .menu {
    display: none;
    position: absolute;
    left: -15px;
    top: 100%;
    width: calc(100% + 30px);
    height: calc(100vh - 103px);
    background-color: #fbf5f1;
    border-top: solid 1px #b6aa9b;
    padding: 45px 15px;
    z-index: 15;
    overflow: auto;
  }

  .menu > ul {
    width: 100%;
    display: block;

    li + li {
      margin-top: 45px;
    }
  }

  .menu-link {
    font-size: 18px;
    line-height: 20px;
    width: 100%;
    display: block;
  }

  .header {
    .logo-wrapper {
      order: -1;
    }
  }

  .header__inner .btn {
    display: block;
    order: -1;
    margin: 0 auto;
  }

  .title-page__inner {
    flex-wrap: wrap;
    padding: 25px 0;

    .title-page__text {
      margin-top: 30px;
    }
  }

  .btn-filter {
    display: flex;
    line-height: 16px;
    padding: 12px 20px;
  }

  .category-filter {
    display: none;
  }

  .cateregory-tags {
    li {
      &:not(:last-child) {
        display: none;
      }
    }
  }

  .category-catalog__inner {
    padding-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }

  .category-catalog {
    padding: 0 0 50px;
  }

  .caption--middle {
    font-size: 20px;
    line-height: 24px;
  }

  .tabs-section__links a {
    font-size: 24px;
    line-height: 26px;
  }

  .footer-top__caption {
    font-size: 34px;
    line-height: 38px;
  }

  .footer-top {
    padding: 30px 15px;
  }

  .footer-top .input-wrapper input {
    padding-right: 200px;
  }

  .footer-top .btn {
    min-width: 155px;
  }

  .footer-leftSide {
    padding: 30px;
  }

  .footer-rightSide {
    padding: 30px;
  }

  .menu-footer {
    padding-bottom: 15px;
    gap: 10px;

    li {
      width: calc(100% / 3 - 15px);
    }
  }

  .footer-info {
    gap: 30px;
    padding: 15px 0;
  }

  .footer-bottom {
    flex-wrap: wrap;
    gap: 10px;
    padding-top: 15px;
  }

  .js-action-link::before {
    right: 0;
    @include transform(rotate(-90deg));
    width: 8px;
    height: 9px;
    margin-top: -4px;
  }

  .product-catalog {
    .product-list {
      gap: 20px;
    }

    .product-item {
      width: calc(calc(100% / 2) - 10px);
    }
  }

  .prodcut-text__caption {
    font-size: 34px;
    line-height: 38px;
    max-width: 250px;
  }

  .prodcut-text__text {
    width: calc(100% - 250px);
  }

  .prodcut-text__inner {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .caption--big {
    font-size: 40px;
    line-height: 55px;
  }

  .universal-containers__inner {
    padding: 50px 0;
  }

  .product-item__name {
    font-size: 20px;
    line-height: 22px;
    margin-top: 20px;
  }

  .product-item__picture img {
    object-fit: contain;
  }

  .product-item__picture {
    width: 210px;
    height: 170px;
  }

  .product-catalog .product-item {
    height: auto;
  }

  .product-item:hover::before {
    height: 100%;
  }

  .product-catalog__inner {
    padding-bottom: 50px;
  }

  .product__column {
    width: 100%;
  }

  .product__column.product__picture {
    order: -1;
  }

  .review-text {
    flex-wrap: wrap;
    gap: 20px;
  }

  .review-text__text {
    width: 100%;
  }

  .review-text {
    font-size: 12px;
    line-height: 22px;
    padding: 0 80px;
  }

  .reviews-product .swiper-button-prev,
  .reviews-product .swiper-button-next {
    width: 40px;
    height: 40px;
    margin-top: -40px;
  }

  .news-section {
    .news-item {
      height: auto;
    }

    .news-item--big {
      .news-item__picture {
        width: 100%;
        height: auto;
        max-height: 450px;
      }

      .news-item__content {
        width: 100%;
        padding: 35px 20px;
      }
    }
  }

  .news-section .news {
    margin-top: 30px;
  }

  .text-details__rightSide {
    width: 100%;
    order: -1;
    padding-bottom: 20px;
  }

  .text-details__leftSide {
    width: 100%;
  }

  .text-details__title {
    font-size: 28px;
    line-height: 30px;
    margin-bottom: 15px;
  }

  .text-details__content {
    padding: 0 20px;
  }

  .text-details {
    font-size: 14px;
    line-height: 20px;
    padding-bottom: 50px;
  }

  .text-details h3 {
    padding: 15px 0;
    font-size: 22px;
    line-height: 30px;
    margin: 15px 0;
  }

  .text-details .picture {
    margin-bottom: 40px;
  }

  .text-details {
    .btn-back {
      display: none;
    }

    .btn-back--mobile {
      display: flex;
      margin-left: 10px;
      margin-bottom: 20px;
      padding: 15px 5px;
      font-size: 14px;
      max-width: 170px;
    }
  }

  .text-details__inner {
    padding: 20px 0;
  }

  .text-details figure {
    margin: 20px 0 20px;
  }

  .text-picture__list {
    margin: 20px 0;
    gap: 15px;
  }

  .text-video {
    margin: 20px 0;
  }

  .other-block {
    position: relative;
    width: 100%;
    margin-top: 0;
    padding-bottom: 0;

    &::before {
      right: 0;
      bottom: 5px;
      width: 63px;
      height: calc(100% - 5px);
      left: auto;
      background: linear-gradient(
        -90deg,
        #fefdfc 0%,
        rgba(254, 253, 252, 0) 100%
      );
    }
  }

  .other-list {
    height: auto;
    width: 100%;
    white-space: nowrap;
    padding-bottom: 20px;

    li {
      display: inline-block;
      vertical-align: top;
      white-space: normal;
      width: 180px;

      & + li {
        margin-top: 0;
      }
    }
  }

  .other-block a {
    font-size: 16px;
  }

  .text-picture__list li {
    width: calc(100% / 3 - 10px);
  }

  .other-section .blog-item {
    width: calc(50% - 8px);
  }

  .other-section {
    padding-bottom: 50px;
  }

  .text-caption .text-caption__inner {
    display: flex;
    align-items: center;
    gap: 40px;
    width: 100%;
    padding: 0 8px;
  }

  .text-caption {
    align-items: center;
    padding: 0;
  }

  .typeFood__content {
    width: 100%;
  }

  .typeFood__slider .swiper-slide {
    flex-wrap: wrap;
  }

  .typeFood-picture__slider {
    width: 100%;
  }

  .typeFood__slider .swiper-slide {
    .picture {
      max-height: 350px;
    }
  }

  .typeFood__content {
    padding: 30px;
  }

  .typeFood__caption {
    font-size: 34px;
    line-height: 44px;
  }

  .product-other .product-item {
    width: calc(50% - 7.5px);
  }

  .product-item .btn {
    opacity: 1;
    pointer-events: all;
  }

  .product-other .product-list {
    margin-top: 30px;
    padding-top: 0;
    gap: 15px;
  }

  .product-other .caption {
    font-size: 38px;
    line-height: 40px;
  }

  .product-other {
    padding: 70px 0;
  }

  .typeFood__slider {
    margin-top: 30px;
  }

  .search-section .product-list {
    gap: 15px;
    padding-top: 30px;
  }

  .search-section .product-item {
    width: calc(100% / 2 - 7.5px);
  }

  .search-result__text {
    font-size: 24px;
    line-height: 30px;
    margin-top: 30px;
  }

  .not-page .invisCaption {
    right: calc(50% - 330px);
    font-size: 275px;
    bottom: -120px;
  }

  .about-block__left {
    width: 100%;
  }

  .about-block__right {
    width: 100%;
    max-height: 360px;
  }

  .our-brands__list {
    grid-template-columns: 1fr;
    gap: 45px;
  }

  .our-brands__item {
    flex-direction: column;
    height: auto;
    padding: 30px 0;
  }

  .our-brands__item .our-invis {
    width: 100%;
    position: relative;
    top: 0;
  }

  .our-brands__item::after {
    display: none;
  }

  .our-brands__item .our-invis {
    padding: 15px;
  }

  .about-numbers__left {
    width: 100%;
  }

  .about-numbers__right {
    width: 100%;
  }

  .about-numbers {
    padding: 50px 0;
    overflow: hidden;
  }

  .about-numbers__list .text {
    font-size: 18px;
    line-height: 20px;
    white-space: nowrap;
  }

  .about-numbers__inner .logo-invis {
    left: 192px;
    bottom: -310px;
  }

  .why-block__item {
    padding: 15px;
  }

  .why-block__list {
    grid-template-columns: 1fr;
    gap: 20px;
  }

  .about-advantages {
    padding: 35px 0 75px;
  }

  .manufactured-products__wrap {
    padding: 30px 30px 300px;
    text-align: center;
  }

  .manufactured-products .caption {
    max-width: 100%;
    text-align: center;
  }

  .manufactured-products__wrap::before {
    margin-left: -510px;
    top: calc(100% - 265px);
    margin-top: 0;
  }

  .esg-block__left {
    width: 100%;
  }

  .esg-block__right {
    width: 100%;
  }

  .esg-report__left {
    width: 100%;
  }

  .esg-report .other-list li + li {
    margin-top: 0;
  }

  .esg-report .other-list {
    height: auto;
  }

  .esg-report__right {
    width: 100%;
    padding: 30px 0;
  }

  .esg-text {
    margin-top: 50px;
    margin-bottom: 50px;
  }

  .esg__inner .caption {
    font-size: 38px;
  }

  .esg__inner {
    padding: 15px;
  }

  .esg__inner .picture {
    margin-bottom: 0;
    margin-top: 30px;
    height: auto;
    position: relative;
    left: -15px;
    bottom: -15px;
    width: calc(100% + 30px);
  }

  .esg__inner .caption {
    font-size: 30px;
    margin-bottom: 15px;
  }

  .delivery-sng {
    flex-wrap: wrap;
  }

  .delivery-sng__picture {
    order: 2;
    margin: -140px auto 0;

    &::before {
      display: none;
    }
  }

  .delivery-sng__right {
    width: 100%;
    max-width: 100%;
    padding-bottom: 200px;
  }

  .delivery-sng__right .caption {
    font-size: 32px;
    line-height: 36px;
    margin-bottom: 15px;
  }

  .delivery-free .caption {
    font-size: 32px;
    line-height: 36px;
  }

  .footer-bottom .btn-top-page {
    display: none;
  }

  .events-calendar__leftSide {
    display: none;
  }

  .events-calendar__rightSide {
    width: 100%;
  }

  .events-slider .swiper-slide {
    padding: 35px;
  }

  .events-all .caption {
    font-size: 44px;
  }

  .events-slider__wrap {
    margin-top: 20px;
  }

  .events-item__info {
    width: 100%;
  }

  .reviews-product {
    margin-top: 20px;

    .swiper-button-prev svg path,
    .swiper-button-next svg path {
      stroke: $colorWhite;
    }
  }

  .production-page__slider .swiper-slide {
    padding: 0 30px;
    height: 400px;
  }

  .production-page__sliderWrapper {
    margin-top: 30px;
  }

  .platform-item {
    width: 100%;
  }

  .technologies-section__line:nth-child(2n) .technologies-section__text {
    padding: 0 30px;
    width: 100%;
    order: -1;
  }

  .technologies-section .picture--small {
    width: 100%;
    height: auto;
    margin: 30px 0 0;
  }

  .technologies-section__line:nth-child(2n) {
    padding-left: 0;
    padding-right: 0;
  }

  .possibilities__title {
    font-size: 34px;
    line-height: 45px;
    max-width: 100%;
    width: 100%;
  }

  .possibilities li {
    flex-wrap: wrap;
  }

  .possibilities__content {
    width: 100%;
  }

  .possibilities__data {
    font-size: 40px;
    line-height: 50px;
    margin-bottom: 8px;
  }

  .possibilities {
    padding: 30px;
  }

  .possibilities li + li {
    margin-top: 30px;
  }

  .production-page .about-advantages__list {
    width: 100%;
    grid-template-columns: 1fr;
  }

  .slider-simple .swiper-slide {
    padding: 0 30px;
  }

  .types-print__item .text {
    max-width: 265px;
  }

  .sertificate {
    padding: 50px 0;
  }

  .types-print {
    padding-top: 50px;
    margin-top: 50px;
  }

  .contacts-page .title-page__inner {
    gap: 0;
  }

  .contacts-info__left {
    width: 100%;
    max-width: 100%;
  }

  .contacts-info__right {
    width: 100%;
    max-width: 100%;
  }

  .contacts-controls {
    flex-wrap: wrap;
    margin-top: 50px;
  }

  .contacts-page .title-page .caption {
    font-size: 60px;
    line-height: 70px;
  }

  .storage-item {
    width: 100%;
  }

  .distr-list .contacts-info__list {
    grid-template-columns: 1fr;
  }

  .distr-item__line {
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }
}
