@media (max-width: 1199px) {
  .logo-wrapper {
    width: 80px;
  }

  .menu {
    margin-left: auto;
  }

  .header__inner .btn {
    display: none;
  }

  .title-page .caption {
    font-size: 45px;
    line-height: 55px;
  }

  .universal-containers__inner {
    .caption {
      font-size: 45px;
      line-height: 55px;
    }
  }

  .title-page__text {
    max-width: 740px;
  }

  .title-page__inner {
    padding: 35px 0;
  }

  .category-catalog {
    padding: 0 0 100px;
  }

  .cateregory-tags {
    margin-top: 0;
  }

  .category-filter {
    gap: 20px;
  }

  .category-catalog__list {
    gap: 15px;
    padding: 20px 0;
    margin-top: 20px;
  }

  .caption--middle {
    font-size: 24px;
    line-height: 30px;
  }

  .category-catalog__item {
    padding: 25px;
  }

  .category-catalog__item .caption {
    min-height: 60px;
  }

  .tabs-text {
    font-size: 16px;
    line-height: 24px;
  }

  .tabs-section .tabs-body {
    margin-top: 40px;
    padding-bottom: 80px;
  }

  .footer-top__caption {
    font-size: 44px;
    line-height: 48px;
  }

  .footer-top .btn {
    min-width: 185px;
  }

  .input-wrapper input {
    height: 55px;
    font-size: 16px;
    line-height: 24px;
  }

  .footer-top {
  }

  .catalog-invis__inner {
    padding: 20px;
  }

  .catalog-invis__list {
    grid-template-columns: repeat(4, 1fr);
    gap: 10px 15px;
  }

  .catalog-invis__list li {
    font-size: 14px;
    line-height: 18px;
  }

  .catalog-invis .rightSide {
    width: 220px;
  }

  .event-small {
    height: 460px;
  }

  .catalog-invis .leftSide {
    max-width: 700px;
  }

  .events-invis {
    padding: 30px;
  }

  .events-invis .tabs-body {
    margin-top: 20px;
  }

  .city-invis {
    width: 185px;
    line-height: 20px;
  }

  .selectric-scroll ul li {
    font-size: 13px;
    line-height: 20px;
  }

  .category-filter__list {
    .input-wrapper {
      max-width: 150px;
    }
  }

  .category-catalog__item {
    width: calc(100% / 3 - 10px);
  }

  .caption--big {
    font-size: 60px;
    line-height: 65px;
  }

  .universal-containers {
    .container {
      padding: 0;
    }
  }

  .product-catalog__mobileFilter {
    display: flex;

    .btn-filter {
      display: flex;
    }

    .cateregory-tags {
      li:not(.clear) {
        display: none;
      }
    }

    .category-catalog__inner {
      width: 100%;
      padding: 20px 0;
      display: flex;
      justify-content: space-between;
    }
  }

  .product-catalog__leftSide {
    position: fixed;
    left: -330px;
    top: 0;
    z-index: 9;
    background-color: #fbf5f1;
    padding: 30px 10px;
    @include transition(left 0.3s);
    @include box-shadow(0px 0px 40px 0px rgba(0, 0, 0, 0.33));
    height: 100vh;
    overflow: auto;

    &.opened {
      left: 0;
    }

    .filter-close {
      display: flex;
    }
  }

  .filter-close {
    position: absolute;
    right: 20px;
    top: 35px;
  }

  .filter-row {
    .documents-links {
      display: none;
    }
  }

  .filter-row + .filter-row {
    margin-top: 0;
  }

  .product-catalog__rightSide {
    width: 100%;
  }

  .product-catalog {
    .product-list {
    }

    .product-item {
      width: calc(calc(100% / 3) - 20px);
    }
  }

  .prodcut-text__caption {
    font-size: 44px;
    line-height: 48px;
  }

  .prodcut-text__text {
    font-size: 16px;
    line-height: 20px;
  }

  .news-section {
    .news-item {
      .news-item__content {
        min-height: inherit;

        .btn {
          margin-top: 20px;
        }
      }

      .news-item__name {
        font-size: 28px;
        line-height: 30px;
      }
    }
  }

  .text-video {
    height: 362px;
  }

  .text-picture__list img {
    height: 180px;
  }

  .blog-item__content {
    padding: 15px;
  }

  .blog-item__link {
    min-height: 110px;
  }

  .blog-list {
    gap: 15px;
    margin-top: 30px;
  }

  .blog-item {
    width: calc(50% - 7.5px);
  }

  .text-caption .caption {
    font-size: 28px;
    line-height: 30px;
  }

  .other-section .blog-item__content {
    padding: 15px;
  }

  .other-section .blog-item__content {
    position: relative;
    padding-top: 50px;
  }

  .other-section .blog-item__date {
    position: absolute;
    top: 15px;
    left: 15px;
  }

  .text-details {
    padding-bottom: 70px;
  }

  .not-page {
    .caption--small {
      font-size: 20px;
      line-height: 30px;
    }
  }

  .not-page__content {
    margin-top: 30px;
  }

  .about-block .tabs-section__tabs {
    padding: 40px 30px;
  }

  .our-brands__list {
    gap: 15px;
    margin-top: 30px;
  }

  .about-numbers__list .num {
    font-size: 56px;
    line-height: 59px;
    min-width: 60px;
  }

  .about-numbers__list .cur {
    font-size: 32px;
    @include transform(translateY(0));
  }

  .about-numbers__list .count {
    font-size: 20px;
    line-height: 22px;
    @include transform(translateY(-15px));
    margin-top: -15px;
  }

  .about-numbers__list {
    gap: 0;
  }

  .esg-report__right {
    padding-left: 40px;
  }

  .esg-report {
    padding-top: 70px;
  }

  .text-section {
    padding: 30px 0 50px;
  }

  .delivery-sng__picture img {
    width: 390px;
    height: 255px;
  }

  .delivery-sng__right {
    padding: 30px;
    max-width: calc(50% - -76px);
  }

  .delivery-sng {
    padding: 50px 0;
  }

  .delivery-free__right {
    left: calc(50% - 151px);
  }

  .delivery-free {
    min-height: 630px;
  }

  .delivery-free::before {
    top: -140px;
  }

  .delivery-free__right {
    left: calc(50% - 51px);
  }

  .delivery-shipping {
    gap: 30px;
    padding: 30px;
    height: auto;
  }

  .delivery-shipping .caption {
    margin-bottom: 30px;
    font-size: 38px;
    line-height: 40px;
  }

  .delivery-shipping::before {
    background-image: none;
    border: dashed 2px #aa9f8e;
    @include border-radius(20px);
    height: 100%;
  }

  .delivery-pickup__text {
    max-width: 100%;
  }

  .delivery-pickup__icon {
    left: 50%;
    top: -107px;
    width: 210px;
    margin-left: -100px;
  }

  .delivery-pickup::before {
    display: none;
  }

  .delivery-pickup {
    min-height: inherit;
    width: 100%;
    margin-top: 150px;
    margin-bottom: 80px;
    padding: 150px 0 40px;
    justify-content: center;
    align-items: center;
    padding-right: 0;
    text-align: center;
  }

  .delivery-pickup__box {
    left: 50%;
    top: 50%;
    margin-top: -295px;
    margin-left: -190px;
    width: 470px;
  }

  .events-mons {
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
  }

  .calendarWrapper {
    padding: 15px;
  }

  .events-slider__wrap {
    margin-top: 30px;
  }

  .events {
    padding: 50px 0;
  }

  .events-calendar {
    margin-top: 50px;
  }

  .calendar .td {
    height: 50px;
    padding: 5px;
  }

  .calendar .td::before {
    left: 6px;
    top: 6px;
  }

  .events-item {
    padding: 20px;
  }

  .events-item__controls {
    flex-wrap: wrap;
  }

  .events-item__info {
    margin-bottom: 30px;
    gap: 30px;
  }

  .events-item__controls {
    margin-top: 30px;
  }

  .events-calendar__leftSide {
    padding: 15px;
  }

  .events-all .caption {
    font-size: 54px;
  }

  .events-age {
    font-size: 54px;
  }

  .events-calendar .caption__desc {
    font-size: 38px;
    line-height: 42px;
  }

  .events-slider .btn {
    margin-top: 20px;
  }

  .events-slider .swiper-slide {
    min-height: inherit;
  }

  .documents-links--mobile {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 60px;
    width: 100%;
    max-width: 320px;

    .btn:not(.btn-loadFile) + .btn {
      margin-top: 0;
    }
  }

  .btn-patented:hover::after {
    left: auto;
    right: 50%;
  }

  .btn-patented {
    @include transform(scale(0.8));
  }

  .gallery-slider {
    max-width: 770px;
  }

  .technologies-section__line:nth-child(2n-1) .technologies-section__text {
    width: 100%;
  }

  .technologies-section__line {
    flex-wrap: wrap;
  }

  .technologies-section .caption {
    max-width: 100%;
    margin-bottom: 30px;
  }

  .technologies-section .picture--big {
    width: 100%;
    height: auto;
  }

  .technologies-section__line + .technologies-section__line {
    margin-top: 30px;
  }

  .slider-simple__wrap {
    margin-top: 50px;
  }

  .production-page .about-advantages {
    padding: 50px 0;
  }

  .technologies-section {
    margin-top: 50px;
  }

  .platform-section {
    padding-top: 50px;
  }

  .individual-design__head .caption {
    max-width: 100%;
    margin-bottom: 50px;
  }

  .individual-design__head .picture {
    margin-top: 50px;
  }

  .steps-block {
    padding-top: 50px;
  }

  .delivery-section .swiper {
    width: 100%;
    max-width: 100%;
  }

  .delivery-section__inner {
    flex-wrap: wrap;
  }

  .delivery-section__inner::before {
    position: relative;
    margin: 0 auto;
  }

  .delivery-section {
    padding: 0 0 50px;
  }

  .types-print__item {
    width: 100%;
  }

  .types-print__item img {
    left: 0;
  }

  .types-print__item:nth-child(2n) img {
    right: 0;
  }

  .step-list {
    margin-top: 50px;

    .step-item {
      width: 100%;
      @include transition(all 0s!important);

      .name,
      .num {
        @include transition(all 0s!important);
      }
    }
  }

  .step-item {
    background-color: $colorWhite;

    .line-top {
      display: none;
    }

    &::after,
    &::before {
      display: none;
    }
  }

  .step-item .name {
    color: $colorSite;
  }

  .step-item .num {
    color: $colorSite;
    border: 0;
    text-shadow: none;
  }

  .step-item .name + * {
    margin-top: 0;
  }

  .step-list {
    .swiper-wrapper {
      flex-wrap: nowrap;
    }
  }

  .step-item {
    height: auto;
  }

  .contacts-page .title-page__inner {
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
  }

  .events-news .btn {
    margin-top: 15px;
  }

  .grettings__slide {
    height: 500px;
  }

  .food-type {
    margin-top: 50px;
  }

  .food-item .picture {
    height: 152px;
  }

  .food-list {
    gap: 15px 30px;
  }

  .dop-dev .b-product-lines::before {
    display: none;
  }

  .dop-dev .b-product-lines__title {
    width: 100%;
  }

  .dop-dev .b-product-lines__switch {
    gap: 30px;
    width: 100%;
    margin-top: 30px;
  }

  .dop-dev .b-product-lines__header {
    margin-bottom: 30px;
  }

  :root {
    --lineap-item-width: 330px;
    --lineap-item-height: auto;
    --lineap-item-title-width: 65px;
    --lineap-item-content-width: calc(
      var(--lineap-item-width) - var(--lineap-item-title-width)
    );
  }

  .lineap-item__content {
    padding: 20px 15px;
  }

  .lineap-item__control--large {
    order: -1;
    max-width: 100%;
    width: 100%;
  }

  .lineap-item__content-controls {
    justify-content: center;
  }

  .dop-dev .box {
    padding: 0;
  }

  .your-lines {
    padding: 80px 0;
  }

  .dop-dev .b-product-lines__header {
    padding: 0 15px;
  }

  .lottie {
    display: none;
  }

  .lottie-five,
  .lottie-four,
  .lottie-three,
  .lottie-two,
  .lottie-first {
    height: auto;
  }

  .incision {
    position: relative;
    opacity: 1 !important;

    .incision__inner {
      & > * {
        opacity: 1 !important;
      }
    }
  }

  .animation-text .animation-text__wrap {
    padding: 0;
  }

  .animation-text__inner {
    max-width: 100%;
    margin-left: 0;
  }

  .animation-text__controls {
    max-width: 50%;
  }

  .animation-text .line {
    display: none;
  }

  .lottie-three {
    display: none;
  }

  .production__leftSide {
    width: 100%;
    font-size: 20px;
  }

  .production__inner .picture {
    height: auto;
  }

  #lottie-3 {
    display: none;
  }

  .delivery {
    &.delivery--v1 {
      min-height: 500px;
      padding: 0;
    }

    .delivery-wrap > * {
      opacity: 1 !important;
      @include transition(all 0.3s);
    }

    .line {
      display: none;
    }
  }

  .delivery .caption {
    font-size: 60px;
    line-height: 54px;
  }

  .delivery .desc {
    font-size: 35px;
    line-height: 45px;
  }

  .delivert-mobile {
    display: block;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("../img/delivert-mobile.png");
    width: 50%;
    padding-top: calc(120 / 320 * 100%);
    position: absolute;
    right: 0;
    top: 50%;
    @include transform(translateY(-50%));
  }

  .delivery-wrap {
    width: 100%;
    left: 0;
    position: relative;
  }

  .delivery .btn {
    left: 0;
    opacity: 1;
  }

  .delivery-circles {
    display: none;
  }

  .delivery--v1 {
    position: relative;
    background-position: center;
    background-size: contain;
  }

  .subscribe-news__leftSide {
    max-width: 350px;
  }

  .subscribe-news__rightSide {
    max-width: 550px;
  }

  .subscribe-news__inner {
    align-items: center;
  }

  .catalog-main__slider .swiper-slide.swiper-slide-next + .swiper-slide,
  .swiper-slide-visible:not(
      .swiper-slide-prev,
      .swiper-slide-next,
      .swiper-slide-active
    ),
  .catalog-main__slider .swiper-slide.swiper-slide-active {
    top: 0 !important;
  }

  .catalog-main__slider img {
    width: 100% !important;
    max-height: inherit !important;
    height: 380px !important;
    margin: 0 auto !important;
  }

  .catalog-main__slider .swiper-wrapper {
    min-height: inherit;
    padding-top: 0;
    margin-bottom: 10px;
    height: 380px !important;
  }

  .catalog-main__slider .swiper-slide.swiper-slide-next + .swiper-slide {
    top: 0 !important;
  }

  .catalog-main__slider .swiper-lines {
    background-image: none !important;
    height: auto !important;
  }

  .catalog-main__slider .swiper-button-prev,
  .catalog-main__slider .swiper-button-next {
    padding: 18px 15px !important;
    font-size: 0 !important;
    gap: 0 !important;
  }

  .catalog-main__item .logo-product {
    top: 0 !important;
  }

  .catalog-main__right {
    max-width: 100%;
    width: 100%;
    border: 0;
    padding: 30px 0 0;
  }

  .event-about {
    flex-wrap: wrap;
  }

  .event-about__picture {
    width: 100%;
    max-width: 100%;
  }

  .event-about__text {
    width: 100%;
    max-width: 100%;
  }

  .delivery-wrap .btn,
  .production__controls .btn {
    padding: 19px 35px;
  }

  .header__inner {
    .btn-toSection {
      display: block;
    }
  }

  .btn-toSection {
    display: block;
    top: -52px;
    padding: 12px;
  }

  .grettings__slider {
    margin-bottom: 0;
  }

  .about-block .caption {
    line-height: 45px;
    font-size: 40px;
  }

  .search-invis {
    height: 53px;

    input {
      height: 53px;
    }
  }

  .search-invis.opened {
    width: 360px;
  }

  .typeFood__slider .swiper-slide {
    height: 100%;
  }
}
